/* Estilo para el contenido del formulario */
.card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para el formulario */
}

/* Estilo para el fondo de la página */
body {
    background-image: url('../img/gober.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}